---
---

<center><h1>üìç üìç Assignment: Subsetting and Modifying Dataüìç üìç</h1></center>


---


#### `READ THE BIG MART SALES DATA`


---

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('dataset/big_mart_sales.csv')

In [ ]:
data.head()

---

#### `Select the rows where Item_MRP is less than 100`


---

In [ ]:
# WRITE YOUR CODE HERE

---

#### `Select the rows where Outlet_Location_Type is Tier 1 and Outlet_Establishment_Year is from the list [1987, 1988, 2009]`

---

In [ ]:
# WRITE YOUR CODE HERE

---

#### `Update the values of the column Outlet_Type using the mapping given below` 


---

In [ ]:
mapping: {
    'Supermarket Type1' : 1,
    'Supermarket Type2' : 2,
    'Grocery Store'     : 3,
    'Supermarket Type3' : 4
}

In [ ]:
# WRITE YOUR CODE HERE

---

#### `Fill the missing values in the column 'Outlet_Size' by Medium using loc`

---

In [ ]:
data.isna().sum()

In [ ]:
# WRITE YOUR CODE HERE